@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
*{
    margin: 0px;
    padding: 2px;
    
}
body{

  background-color: aliceblue;
}
    
    
    #container{
        width: 600px;
        height: 470px;
     
      border: 1px solid #585d65;
  border-radius: 8px;
 margin: auto;
 
    }
   
   
   header{
       text-align:center;
       background-color:F6F4EB;
       font-family: Sans-Serif;
       padding: 10px;
   }
    
  .palybox1{
    width: 180px;
    border-radius: 8px;
    background-color: white;
     border: 1px solid #dadce0;
        border-bottom: none;
    margin-left: 20%;
      text-align:left;
      font-size: 25px;
      cursor: pointer;
      position:relative;
      padding: 0px 20px;
      
  }
  
     .palybox2{
         
    width: 180px;
   
    border-radius: 8px;
    background-color: white;
        border: 1px solid #dadce0;
         border-bottom: none;
    margin-right: 0px;
       text-align:left;
      font-size: 27px;
      cursor: pointer;
       position:relative;
      padding: 0px 20px;
  }
 
 
  
  .score-1{
      
      position: absolute;
     top: 0px;
     right:  0px;
     padding: 0px 20px;
  }
  
  .score-2{
       position: absolute;
     top: 0px;
     right:  0px;
     padding: 0px 20px;
  }
  
  
#infor{
      text-align: center;
      padding: 10px ;
     color:#70757a;
     font-family: Sans-Serif;
  }
  
  #maingame{
     position: relative;
     display: grid;
     grid-template-columns:auto auto auto ;
     background-color: #14bdac;
padding: 15px 180px;
margin: 0px;

  }
  
  .cell{

      border:4px solid #0da192;
   width:80px ;
     height: 80px;
      line-height: 50px;
      font-family: cursive;
       font-size:80px;
        display: flex;
       cursor: pointer;
     justify-content: center;
     align-items: center;
     position: relative;
    
     color: rgb(84, 84, 84);
     animation: fadeIn 2s;
  } 
  
    .cell.O{
        color: white;
    }
  
     @keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
     
   

  .bt0{
      border-top:none;
  }
  
  .br0{
      border-right: 0;
  }

  
  .bb0{
      border-bottom: 0;
  }
  
  .bl0{
      border-left: 0;
  }
  
  
  
 #Reset{
     background-color: white;
     border: 1px solid #dadce0;
     border: none;
     text-align: center;
     padding: 7px 255px ;
     color: #14bdac;
     font-family: system-ui;
     font-weight: bold;
     
     line-height: 20px;
     cursor: pointer;
     border-radius:10px;
     
     }
     
     
     
   .activie{
       
       box-shadow:1px 6px 8px #888888 ;
     border-bottom: 4px solid #14bdac;
      
  }
  
   
  .lineAnimat{
    display:none;
    position: absolute;
top: 50px;
   left: 150px;
    width: 300px;
    height: 3px;
    background-color: red;
    border-radius:5px;
    
}

   
 .maingame-message {
  background-color: red;  
font-size: 24px;
text-align: center;
transition: color 0.s ease-in-out, font-size 0.5s ease-in-out;
}

     
    