/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {


  /* header */
  .desk-nav .desk-ul {
    display: none;
  }

  .desk-btn {
    display: none;
  }

  /* sider */
  .sidebar-menu .sidebar-ul {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }

  .sidebar-menu .sidebar-ul li {
    list-style: none;
    color: white;
    font-size: 4em;

  }

  .sidebar-menu .sidebar-ul li:hover {
    color: #19A7CE;

  }

  .sidebar-btn {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  header {
    position: fixed;
    width: 97%;
  }

  .sidebar-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.15);
    /* glass */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    transition: right 0.4s ease;
    display: flex;
    flex-direction: column;
    z-index: 999;
  }

  .sidebar-menu.open {
    right: 0;
  }

  /* hero section 1 */
  .sec1 .hero-main .left h1 {
    font-size: 3.5rem;
    line-height: 1.1;
  }

  .sec1-btns {
    display: flex;
    flex-direction: column;
  }

  .bg-box1 {
    width: 200px;
    height: 200px;
    border: 1px solid #19A7CE;
    top: 16%;
    z-index: 1;
    left: 10%;
  }

  /* about  */
  .sec2 h2 {
    padding-left: 0rem;
    text-align: center;
  }

  .sec2 .about-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding-right: 4rem; */
  }

  /* skils  */
  .sec3 .skill-main {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 10%;
    padding: 5rem 0;
  }

  /* clients */
  .client-main {
    width: 80%;
  }

  .client-main .slide1 {
    width: 50%;
    padding: 2rem 1rem;
  }

  .client-main .next {
    right: 5%;
  }

  .client-main .prev {
    left: 5%;
  }

  /* price */
  .sec7 .price-tittle {
    text-align: center;
    margin-left: 0;
  }

  .sec7 .main-plans {
    display: flex;
    width: 80%;
    flex-direction: column;
  }

  .sec7 .main-plans .plane1 {
    width: 80%;
    height: auto;
    padding: 5rem 2rem;

  }

  .sec7 .main-plans .plane1 p {
    font-size: 1.3em;
    line-height: 1.5;
  }




}


/* mobile version  */
@media (max-width: 767px) {

  /* header */
  .desk-nav .desk-ul {
    display: none;
  }

  .desk-btn {
    display: none;
  }

  /* sider */
  .sidebar-menu .sidebar-ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0rem 25px;
  }

  .sidebar-menu .sidebar-ul li {
    list-style: none;
    color: white;
    font-size: 4em;

  }

  .sidebar-menu .sidebar-ul li:hover {
    color: #19A7CE;

  }

  .sidebar-btn {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  header {
    position: fixed;
    width: 97%;
    top: 0%;
  }

  .sidebar-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.15);
    /* glass */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    transition: right 0.4s ease;
    display: flex;
    flex-direction: column;
    z-index: 999;
  }

  .sidebar-menu.open {
    right: 0;
  }

  /* hero section */
  .sec1 .hero-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }

  .sec1 {
    padding-top: 8rem;
  }

  .sec1 .hero-main .left {
    width: 80%;
    padding-top: 2rem;
  }

  .sec1 .hero-main .left h1 {
    font-size: 3rem;
    line-height: 1.1;
  }

  .sec1-btns {
    flex-direction: column;
  }

  .bg-box1 {
    width: 200px;
    height: 200px;
    border: 1px solid #19A7CE;
  }

  .sec1 .hero-main .right {
    width: 80%;
    position: relative;
  }

  .sec1 .hero-main .right .boyimg {
    width: 100%;
  }

  .bg-svg .svg2 {
    position: absolute;
    top: 10%;
    right: 4%;
  }

  /* about sectio */
  .sec2 h2 {
    padding-left: 0rem;
    text-align: center;
  }

  .sec2 .about-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }

  .sec2 .about-main .left {
    width: 100%;
  }

  .sec2 .about-main .left img {
    width: 100%;
  }

  .sec2 .about-main .right {
    width: 80%;
  }

  .tabs-btns {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }

  /* skills seciton */

  .sec3 h2 {
    text-align: center;
    font-size: 3em;
  }

  .sec3 .skill-main {
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    gap: 10%;
    padding: 5rem 0;
  }

  .sec3 .skill-main .skill {
    width: 100%;
    height: auto;
    display: flex;
  }

  /* mission */
  .sec5 .overall-main {
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
  }

  .sec5 .overall-main .content1 {
    width: 80%;
    text-align: center;
  }

  /* client sedtion  */

  .client-main .next {
    position: absolute;
    right: 0%;
    bottom: 0%;
    top: auto;
  }

  .client-main .prev {
    position: absolute;
    left: 0%;
    bottom: 0%;
    top: auto;
  }

  .client-main .wrapper {
    gap: 0px;
  }

  .client-main .slide1 {
    width: 100%;
  }

  .client-main .wrapper .slide1 {
    padding: 5rem 0;
    height: 30vh;
  }


  /* price section  */

  .sec7 .price-tittle {
    font-size: 2.4em;
    margin-left: 0rem;
    text-align: center;
  }

  .sec7 .main-plans {
    display: flex;
    width: 80%;
    flex-direction: column;
  }

  .sec7 .main-plans .plane1 {
    width: 90%;
    height: auto;
  }

  /* footer */

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }


  .footer .left {
    width: 80%;
  }


  .footer .right {
    display: flex;
    gap: 10%;
    width: 60%;
  }
















}