@media screen and (min-width: 760px) and (max-width: 1024px) {
    /* CSS styles for screens between 768px and 1024px */

    .sec1-main {
        margin-top: 40px;
    }

    .sec1-main .left h1 {
        font-size: 3em;
        line-height: 1.2;
    }

    .sec1-main .left .email-box {
        width: 100%;
    }

    .email-box form .submit {
        padding: 12px 15px;
    }

    .bg-home {
        width: 100%;
        height: auto;
    }

    .sec1-main .left .create-btn {
        padding: 20px 24px;
        width: 70%;
    }

    .sec1-main .right .laptop-img {
        scale: 1.2;
    }

    .sidebar nav img {
        top: 10%;
        left: 0%;
    }

    .sidebar {
        width: 50%;
    }

    .sidebar nav ul {
        padding-top: 8rem;
    }


    .sec2-features .sec2-main {
        width: 90%;
    }

    .sec2-features .sec2-main .sec2-text h2 {
        font-size: 2.1em;
        line-height: 1.3;
    }

    .sec2-features {
        height: auto;
        padding-bottom: 3rem;
    }

    .sec3-services {
        height: auto;
    }

    .sec3-services .sec3 {
        width: 90%;
    }

    .sec3-services .sec3 .box1 .text h2 {
        font-size: 2rem;
        line-height: 1.3;
    }

    .sec3-services .sec3 .box1 .text p {
        font-size: 16px;
        line-height: 1.3;
    }

    .sec3-services .sec3 .boxs-2 .box2 {
        gap: 0rem;
        padding: 20px;
    }

    .sec3-services .sec3 .boxs-2 .box3 h4 {
        font-size: 1.5em;
    }

    .learn .sec4-main {
        width: 98%;
    }

    .learn .sec4-main .boxs .sec4-box1 {
        width: 30%;
        padding: 2rem 0.5rem;
    }

    .clients {
        height: auto;
    }

    .client-container .client1 {
        min-width: 280px;
        height: 25vh;
        padding: 32px 10px;
        gap: 2.5rem;

    }

    .clients .sec5-main .right {
        top: auto;
        bottom: 10%;
        right: 25%;
    }

    .clients .sec5-main .left {
        top: auto;
        bottom: 10%;
        left: 25%;
    }

    .price {
        height: 80vh;
        margin: 8rem 0;
    }


    .price .price-main {
        width: 100%;
        height: 51vh;
        flex-wrap: wrap;
        gap: 5%;
        margin-top: 4rem;
    }

    .help {
        width: 90%;
    }


    .footer-main {
        flex-direction: column;
    }

    .footer-main .links {
        gap: 4rem;
    }





}



/* mobile screens  */
@media (max-width: 576px) {



    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        width: 99%;
        height: 100vh;
    }

    .sidebar nav {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .sidebar nav ul {
        padding-top: 8rem;
    }




    .sec1-main {
        flex-direction: column;
        margin-top: 40px;
    }

    .sec1-main .left {
        width: 90%;
    }

    .sec1-main .left h1 {
        font-size: 2.5em;
        line-height: 1.5;
        text-align: center;
    }

    .sec1-main .left p {
        width: 90%;
        text-align: center;
        font-size: 1.1em;
    }

    .sec1-main .left .email-box {
        width: 98%;
    }

    .sec1-main .left .create-btn {
        width: 80%;
    }

    .sec1-main .left .email-box form {
        flex-direction: column;
    }

    .email-box form input {
        padding: 0px 10px;
        width: 80%;
    }


    .bg-home {
        width: 100%;
        height: auto;
    }

    .sec1-main .right {
        width: 98%;
        background: blue;
        margin-top: 2rem;
    }

    .sec2-features {
        height: auto;
        padding-bottom: 5rem;
    }

    .sec2-features .sec2-main .sec2-text {
        text-align: center;
        margin: auto;
        width: 100%;
    }

    .sec2-features .sec2-main .sec2-text h2 {
        font-size: 1.5em;
    }

    .sec2-features .sec2-main .sec2-text p {
        font-size: 16px;
        line-height: 1.5;
    }

    .feature-box {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .feature-box .Feature1 {
        width: 40%;
    }


    .sec2-features .sec2-main {
        width: 90%;
    }

    .sec3-services .sec3 h2 {
        line-height: 1.2;
        font-size: 2em;
    }

    .sec3-services {
        margin: 5rem 0;
        height: auto;
    }

    .sec3-services .sec3 .box1 {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 15px 0;
    }

    .sec3-services .sec3 {
        gap: 2rem;
    }

    .sec3-services .sec3 .boxs-2 {
        flex-direction: column;
    }

    .sec3-services .sec3 .boxs-2 .box2 {
        width: 100%;
        height: auto;
        padding: 20px 0;
    }


    .sec3-services .sec3 .box1 .img {
        width: 100%;
    }

    .sec3-services .sec3 .box1 .text {
        width: 90%;
    }

    .sec3-services .sec3 .box1 .text h2 {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .sec3-services .sec3 .box1 .text p {
        font-size: 16px;
        line-height: 1.5;
    }

    .sec3-services .sec3 .boxs-2 .box2 h2 {
        font-size: 5em;
    }

    .sec3-services .sec3 .boxs-2 .box3 h4 {
        line-height: 1.5;
        font-size: 1.5em;
    }

    .learn {
        height: auto;
        margin: 3rem 0;
        padding: 3rem 0;
    }

    .learn .sec4-main .sec4-text {
        text-align: center;
        margin-left: 0rem;
        font-size: 1.1em;
    }

    .learn .sec4-main {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .learn .sec4-main .sec4-text h2 {
        text-align: center;
        font-size: 1.5em;
    }

    .learn .sec4-main .boxs {
        flex-direction: column;
        gap: 2rem;
    }

    .learn .sec4-main .boxs .sec4-box1 {
        width: 80%;
        height: auto;
    }

    .learn .sec4-main .boxs .sec4-box1 h4 {
        font-size: 1.5em;
        line-height: 1.5;
        text-align: center;
    }


    .clients {
        height: auto;
        margin: 5rem 0;
    }

    .clients .sec5-main h2 {
        font-size: 2em;
        text-align: center;
    }

    .clients-wrapper {
        width: 80%;
        margin: auto;
    }

    .clients .sec5-main .left {
        bottom: 0%;
        left: 15%;
        top: auto;
    }

    .clients .sec5-main .right {
        bottom: 0%;
        right: 15%;
        top: auto;
    }

    .price {
        height: auto;
        margin: 2rem 0;
    }

    .price .tittle {
        text-align: center;
        font-size: 2em;
        margin-left: 0;
    }

    .price .price-main {
        width: 80%;
        gap: 10%;
        height: auto;
        flex-direction: column;
    }

    .price .price-main .plan {
        gap: 12px;
        margin: 2rem 0;
    }

    .price .price-main .plan h2 {
        font-size: 1.5em;
        line-height: 1.5;
    }

    .help {
        width: 80%;
        margin: auto;
        padding: 5rem 0;
    }

    .help h2 {
        text-align: center;
        font-size: 2em;
        line-height: 1.5;
    }

    .help p {
        font-size: 16px;
        text-align: center;
        line-height: 1.5;
    }

    .help .our-mission {
        flex-direction: column;
    }

    .help .our-mission .noof h2 {
        font-size: 3em;
        text-align: center;
    }


    footer {
        height: auto;
    }

    .footer-main {
        width: 100%;
        justify-content: space-around;
        flex-direction: column;
    }

    .footer-main .links {
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-direction: column;
    }

    .links-1 {
        display: flex;
        flex-direction: column;
        gap: 1.1rem;
        align-items: center;
    }












}